@using ecomAdminPanel.Models.Entity
@model List<ecomAdminPanel.Models.Entity.Categories>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category Home Page</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>Category</td>
            <td>Explanation</td>
            <td>Delete</td>
            <td>Update</td>
        </tr>   

    </thead>


    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ID</td>
            <td>@item.Category</td>
            <td>@item.Explanation</td>
            <td><a href="/Categories/DeleteInfo/@item.ID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Categories/UpdateInfo/@item.ID" class="btn btn-warning">Update</a></td>
        </tr>
                }
            
        </tbody>
</table>

<a href="/Categories/Add" class="btn btn-success" style="margin-top: 10px; width: 120px;">Add Category</a>