<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Admin Panel</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-nav px-lg-4">
                        @*<a class="nav-link" href="#">
                            Products
                            <span class="sr-only">(current)</span>
                        </a>*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pt-lg-4" href="/Categories/Index">Category</a>
                    </li>
                    <li>
                        <a class="nav-link pt-lg-4" href="/Brands/Index">Brands</a>
                    </li>
                    <li>
                        <a class="nav-link pt-lg-4" href="/Units/Index">Units</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top:20px;">
        <div class="row navbar-static-top">
            @RenderBody()
        </div>
    </div>
    <footer class="footer text-faded text-center py-xl-5 navbar-fixed-bottom">
        <div class="container">
            <div></div>
        </div>
    </footer>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>